/*font-family: 'Libre Baskerville', serif;
font-family: 'Nunito', sans-serif;*/
:root{
    --primary-text-color: #000000;
}
.container {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(to bottom, #fefefe, #C0BABA, #ffffff);
  color: var(--primary-text-color);
}
.header{
   background: linear-gradient(to bottom,#b0afb0, #f8f6f8f5, #d6d2d2); 
}
a.navbar-brand {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 14px;
}
a.nav-link {
    color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 700;
}

.developer {
  font-size: 18px;
  padding-top: 1.4em;
}
.name {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  line-height: 1.4em;
  font-size: 25px;
}
.intro {
  font-size: 10px;
  font-weight: 600;
  padding-bottom: 4em;
}
.about{
    flex-wrap: wrap;
}
.my-photo, .about-me{
    flex: 1;
    margin: 1em;
}
.hr-about{
    color: #9335ff;
}
.about-me{
    font-size: 11px;
}
.about-intro{
    font-size: 20px;
}
a.btn{
    border-radius: 4px;
    background: #9470b8;
    color: #ffffff;
    font-size: 10px;
}
a.btn:hover{
    color: #9470b8;
    border: 1px solid #9470b8;
}
.skills{
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}
hr.horizontal{
    display: block;
    margin: 0 auto;
    width: 30%;
}
ul{
    list-style: none;
    flex-wrap: wrap;
}
.services{
    font-size: 10px;
}

 .service-1, .service-2, .service-3, .service-4, .service-5, .service-6{
    background-color: #d8d2dd;
    margin-bottom: 1em;
    font-size: 11px;
    font-weight: 700;
 } 
